/* FILEPATH: styles.css */

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Garamond, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Custom styles */
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
}

/* create grid-container for table */
.grid-container {
  display: grid;
  grid-template-columns: auto
}

/* Media query for screens 900px or less */
@media screen and (max-width: 900px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }
}

/* Media query for screens 600px or less */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    .centre {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; /* Adjust the width of images */
    }
}

/* Media query for screens 400px or less */
@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }
}